<p id="notice"><%= notice %></p>

<p>
  <strong>Borrower:</strong>
  <%= @mortgage.borrower %>
</p>

<p>
  <strong>Property:</strong>
  <%= @mortgage.property %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mortgage.address %>
</p>

<p>
  <strong>Image URL:</strong>
  <%= @mortgage.image_url %>
</p>

<p>
  <strong>Credit Amount:</strong>
  <%= @mortgage.credit_amount %>
</p>

<p>
  <strong>Installment Amount:</strong>
  <%= @mortgage.installment_amount %>
</p>

<p>
  <strong>Installments Number:</strong>
  <%= @mortgage.installments_number %>
</p>

<p>
  <strong>Installments left:</strong>
  <%= @mortgage.installments_left %>
</p>

<p>
  <strong>Interest percentage:</strong>
  <%= @mortgage.interest_percentage %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @mortgage.total_amount %>
</p>
